# Git

.git
.gitignore

# Node

node_modules
npm-debug.log
\*.log

# React

client/dist
client/build
client/.react-router

# Maven

server/target
server/.m2

# IDE

.idea
.vscode
\*.iml

# OS

.DS_Store
Thumbs.db

# Docker

Dockerfile
docker-compose.yml
.dockerignore
