# client
.env
/client/node_modules/
/client/dist/
/client/build/
/client/.react-router/

# server
/server/target/
/server/.mvn/
/server/build/
/server/dist/
/server/src/main/resources/application.properties

# IDE
.idea/
.vscode/
*.iws
*.iml
*.ipr