spring.application.name=server
spring.datasource.url=jdbc:postgresql://localhost:5000/krejto_db
spring.datasource.username=krejto_user
spring.datasource.password=krejto_password

spring.jpa.hibernate.ddl-auto=validate
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect

jwt.secret=your_key
jwt.expiration=your_expiration_time